html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    color: white;
    font-family: 'Arial';
    background: #314D79;

}

#modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    min-width: 200px;
    width: 20%;
}

#modal .title {
    width: 100%;
}

#username {
    margin-top: 20px;
    width: 60%;
    border-radius: 5px;
    padding: 5px;
}

#login-button {
    margin-top: 10px;
    width: 60%;
    padding: 5px;
}

#taskbar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background: url('./images/desktop-taskbar.png');
}

#taskbar ul {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#taskbar ul li.start {
    /*background: url('./images/desktop-taskbar-start.png');
    background-size: 100% 100%;*/
    background: linear-gradient(to top, #e05982 0%,#d23464 100%);
    width: 150px;
    margin-left:0px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0px 10px 0px 0px;
}

#taskbar ul li {
    float: left;
    list-style: none;
    height: 100%;
    margin-left: 10px;
    line-height: 40px;
    text-align: center;
    color: white;
}

#taskbar .start{
    cursor: pointer;
    z-index: 1; 
}

#start-menu{
    position: absolute;
    left: 0; 
    bottom: 40px;
    display: none;
    width: 200px;
    background: white;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#start-menu>ul>li{
    background-color: gray;
    color: black;
}

#assignment-modal {
    margin-top: 20px;
    width: 800px;
    height: 600px;
    width: 800px;
    height: 600px;
    border-radius: 7px;
    background: none;
}

.modal-blur {
    border: 1px inset #eee;
    box-shadow: 0px 0px 6px 0px black;
}

.modal-transparent {
    background: url('./images/desktop-bg.jpg') fixed;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    float: left;
}

#assignment-modal .content {
    margin: 30px 5px 5px 5px;
    background: #ccc;
    z-index: 1;
    float: left;
    width: calc(100% - 10px);
    height: calc(100% - 10px - 25px);
    position: absolute;
}

#assignment-modal .content-title {
    margin: 5px 5px 0px 5px;
    background: none;
    z-index: 1;
    float: left;
    width: calc(100% - 10px);
    height: 25px;
    position: absolute;
}

#assignment-modal .content-title ul {
    height: 100%;
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
}

#assignment-modal .content-title ul li {
    float: right;
    list-style: none;
    height: 100%;
    margin-left: 10px;
    line-height: 25px;
    text-align: center;
    color: white;
}

#assignment-modal .closeWindowBtn {
    background: red;
    border-radius: 5px;
    padding: 0px 5px;
    cursor: pointer;
}

.email-container {
    overflow-y : hidden;
    background: #F7F2C8;
    color: #6670AB;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    height: 100%;
    border: 3px solid #989D92;
}
.email-banner {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(152, 157, 146, 0.26);
}
.email-title {
    color: #363B83;
}
.email-list{
    overflow-y: hidden;
    width: 40%;
    height: calc(100% - 100px);
    float: left;
    border-right: 2px solid rgba(152, 157, 146, 0.26);
}
.email-listitem {
    cursor: pointer;
    padding-bottom: 20px;
    padding-right: 16px;
    min-height: 56px;
    border-bottom: 2px solid rgba(152, 157, 146, 0.26);
}
.email-listitem .email-title{
    padding-top : 20px;
    padding-left: 72px;
}
.email-date {
    padding-top: 4px;
    float : right;
    font-size: small;
}
.email-icon {
    padding-top : 20px;
    padding-left: 20px;
    width: 30px;
    height: 30px;
    align-content: center;
    float: left;
}
.email-unread {
    content:url('images/unread-email.png');
}
.email-read{
    content:url('images/read-email.png');
}
.email-item{
    padding-right: 16px;
    padding-left :8px;
    width: 56%;
    float: right;
    vertical-align: text-top;
    overflow-y: hidden;
}
.email-item .email-title {
    font-size: large;
}
.email-item .email-title h3 {
    margin-top: 16px;
}
.email-from:before {
    content:  "From: ";
}
.email-from {
    color: #C34259;
    margin-bottom: 16px;
    font-size: small;
}
.email-message{
    white-space: pre;
}
.email-shortcut {
    cursor: pointer;
    height: 72px;
    width: 72px;
    position:absolute;
    top: 300px;
    left: 200px;
}
.email-shortcut img{
    z-index: -1;
    height: 72px;
    width: 72px;
    display:inline-block;
}
.email-shortcut .email-newmail {
    position: relative;
    right: -30px;
    bottom: -74px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:16px;
}
.hidden {
    visibility: hidden;
    z-index: -100;
}

.cssload-thecube {
    width: 159px;
    height: 159px;
    margin: 0 auto;
    margin-top: 106px;
    position: relative;
    transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
    position: relative;
    transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255,255,255);
    animation: cssload-fold-thecube 2.76s infinite linear both;
    -o-animation: cssload-fold-thecube 2.76s infinite linear both;
    -ms-animation: cssload-fold-thecube 2.76s infinite linear both;
    -webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
    -moz-animation: cssload-fold-thecube 2.76s infinite linear both;
    transform-origin: 100% 100%;
    -o-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
    transform: scale(1.1) rotateZ(90deg);
    -o-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
    transform: scale(1.1) rotateZ(180deg);
    -o-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
    transform: scale(1.1) rotateZ(270deg);
    -o-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
    animation-delay: 0.35s;
    -o-animation-delay: 0.35s;
    -ms-animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
    animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -moz-animation-delay: 1.04s;
}

.cssload-thecube{
    top: 20vh;
}



@keyframes cssload-fold-thecube {
    0%, 10% {
        transform: perspective(298px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        transform: perspective(298px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        transform: perspective(298px) rotateY(180deg);
        opacity: 0;
    }
}

@-o-keyframes cssload-fold-thecube {
    0%, 10% {
        -o-transform: perspective(298px) rotateX(-180deg);
        opacity: 0;
    }
    25%,  75% {
        -o-transform: perspective(298px) rotateX(0deg);
        opacity: 1;
    }
    90%,  100% {
        -o-transform: perspective(298px) rotateY(180deg);
        opacity: 0;
    }
}

@-ms-keyframes cssload-fold-thecube {
    0%, 10% {
        -ms-transform: perspective(298px) rotateX(-180deg);
        opacity: 0;
    }
    25%,  75% {
        -ms-transform: perspective(298px) rotateX(0deg);
        opacity: 1;
    }
    90%,  100% {
        -ms-transform: perspective(298px) rotateY(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-fold-thecube {
    0%, 10% {
        -webkit-transform: perspective(298px) rotateX(-180deg);
        opacity: 0;
    }
    25%,  75% {
        -webkit-transform: perspective(298px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(298px) rotateY(180deg);
        opacity: 0;
    }
}

@-moz-keyframes cssload-fold-thecube {
    0%, 10% {
        -moz-transform: perspective(298px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -moz-transform: perspective(298px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -moz-transform: perspective(298px) rotateY(180deg);
        opacity: 0;
    }
}