html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    color: white;
    font-family: 'Arial';
    background: #314D79;

}

#modal {
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    min-width: 200px;
    width: 20%;
}

#modal .title {
    width: 100%;
}

#username {
    margin-top: 20px;
    width: 60%;
    border-radius: 5px;
    padding: 5px;
}

#login-button {
    margin-top: 10px;
    width: 60%;
    padding: 5px;
}

#taskbar {
    z-index: -1;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    background: url('./images/desktop-taskbar.png');
}

#taskbar ul {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#taskbar ul li.start {
    /*background: url('./images/desktop-taskbar-start.png');
    background-size: 100% 100%;*/
    background: linear-gradient(to top, #e05982 0%,#d23464 100%);
    width: 150px;
    margin-left:0px;
    font-weight: bold;
    font-size: 24px;
    border-radius: 0px 10px 0px 0px;
}

#taskbar ul li {
    float: left;
    list-style: none;
    height: 100%;
    margin-left: 10px;
    line-height: 40px;
    text-align: center;
    color: white;
}

#assignment-modal {
    margin-top: 20px;
    width: 800px;
    height: 600px;
    width: 800px;
    height: 600px;
    border-radius: 7px;
    background: none;
}

.modal-blur {
    border: 1px inset #eee;
    box-shadow: 0px 0px 6px 0px black;
}

.modal-transparent {
    background: url('./images/desktop-bg.jpg') fixed;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    float: left;
}

#assignment-modal .content {
    margin: 30px 5px 5px 5px;
    background: #ccc;
    z-index: 1;
    float: left;
    width: calc(100% - 10px);
    height: calc(100% - 10px - 25px);
    position: absolute;
}

#assignment-modal .content-title {
    margin: 5px 5px 0px 5px;
    background: none;
    z-index: 1;
    float: left;
    width: calc(100% - 10px);
    height: 25px;
    position: absolute;
}

#assignment-modal .content-title ul {
    height: 100%;
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
}

#assignment-modal .content-title ul li {
    float: right;
    list-style: none;
    height: 100%;
    margin-left: 10px;
    line-height: 25px;
    text-align: center;
    color: white;
}

#assignment-modal .closeWindowBtn {
    background: red;
    border-radius: 5px;
    padding: 0px 5px;
    cursor: pointer;
}
/*INBOX*/
.email-container {
    overflow-y : hidden;
    background: #F7F2C8;
    color: #6670AB;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: bold;
    height: 100%;
    border: 3px solid #989D92;
}
.email-banner {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(152, 157, 146, 0.26);
}
.email-title {
    color: #363B83;
}
.email-list{
    overflow-y: hidden;
    width: 40%;
    height: calc(100% - 100px);
    float: left;
    border-right: 2px solid rgba(152, 157, 146, 0.26);
}
.email-listitem {
    cursor: pointer;
    padding-bottom: 20px;
    padding-right: 16px;
    min-height: 56px;
    border-bottom: 2px solid rgba(152, 157, 146, 0.26);
}
.email-listitem .email-title{
    padding-top : 20px;
    padding-left: 72px;
}
.email-date {
    padding-top: 4px;
    float : right;
    font-size: small;
}
.email-icon {
    padding-top : 20px;
    padding-left: 20px;
    width: 30px;
    height: 30px;
    align-content: center;
    float: left;
}
.email-unread {
    content:url('images/unread-email.png');
}
.email-read{
    content:url('images/read-email.png');
}
/*INBOX ITEM VIEW*/
.email-item .email-level-container {
    padding-right: 16px;
    padding-left :8px;
    width: 56%;
    float: right;
    vertical-align: text-top;
    overflow-y: hidden;
}
.email-item .email-title {
    font-size: large;
}
.email-item .email-title h3 {
    margin-top: 16px;
}
.email-from:before {
    content:  "From: ";
}
.email-from {
    color: #C34259;
    margin-bottom: 16px;
    font-size: small;
}
.email-message{
    white-space: pre;
}
/*INBOX ITEM > LEVEL*/
.email-level-container{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.email-level {
    text-align: center;
    flex: 1 0 30%;
}
.email-level .level-icon {
    cursor : pointer;
    display: inline-block;
    height: 100px;
    width: 100px;
    content:url('images/disk.png');
}
.level-disabled {
    filter: grayscale(100%) opacity(50%);
}
.level-disabled .level-icon {
    cursor: default;
}

/*EMAIL SHORTCUT*/
.email-shortcut {
    cursor: pointer;
    height: 72px;
    width: 72px;
    position:absolute;
    top: 300px;
    left: 200px;
}
.email-shortcut img{
    z-index: -1;
    height: 72px;
    width: 72px;
    display:inline-block;
}
.email-shortcut .email-newmail {
    position: relative;
    right: -30px;
    bottom: -74px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding:5px 10px;
    font-size:16px;
}

/*COMMON CLASSES*/
.hidden {
    display: none;
}